{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EC2 Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" type="text/css"/>
</head>
<body>
    <div class="container-fluid" style="padding: 5%">
        <h1>EC2 Information</h1>
        <br>
        <div class="col-md-12">
            <table id="data" class="ui celled table" style="width:100%">
            <thead>
                <tr>
                    <th rowspan="2">Name</th>
                    <th rowspan="2">API Name</th>
                    <th rowspan="2">Memory</th>
                    <th rowspan="2">Compute Units (ECU)</th>
                    <th rowspan="2">vCPUs</th>
                    <th rowspan="2">GPUs</th>
                    <th rowspan="2">FPGAs</th>
                    <th rowspan="2">ECU per vCPU</th>
                    <th rowspan="2">Physical Processor</th>
                    <th rowspan="2">Clock Speed (Ghz)</th>
                    <th rowspan="2">Intel AVX</th>
                    <th rowspan="2">Intel AVX2</th>
                    <th rowspan="2">Intel Turbo</th>
                    <th rowspan="2">Instance Storage</th>
                    <th rowspan="2">Instance Storage: Already Warmed Up</th>
                    <th rowspan="2">Instance Storage: SSD TRIM Support</th>
                    <th rowspan="2">Architecture</th>
                    <th rowspan="2">Network Performance</th>
                    <th rowspan="2">EBS Optimized: Max Bandwidth</th>
                    <th rowspan="2">EBS Optimized: Throughput</th>
                    <th rowspan="2">EBS Optimized: Max 16k IOPS</th>
                    <th rowspan="2">EBS Exposed as NVMe</th>
                    <th rowspan="2">Max IPs</th>
                    <th rowspan="2">Max ENIs</th>
                    <th rowspan="2">Enhanced Networking</th>
                    <th rowspan="2">VPC Only</th>
                    <th rowspan="2">IPv6 Support</th>
                    <th rowspan="2">Placement Group Support</th>
                    <th rowspan="2">Linux Virtualization</th>
                    <th rowspan="2">On EMR</th>
                    <th rowspan="2">EBS Optimized Surcharge</th>
                    <th colspan="11">On Demand Costs</th>
                    <th colspan="10">Reserved Costs</th>
                </tr>
                <tr>
                    <th>Linux</th>
                    <th>RHEL</th>
                    <th>SLES</th>
                    <th>Windows</th>
                    <th>Windows SQL Web</th>
                    <th>Windows SQL Standard</th>
                    <th>Windows SQL Enterprise</th>
                    <th>Linux SQL Web</th>
                    <th>Linux SQL Standard</th>
                    <th>Linux SQL Enterprise</th>
                    <th>EMR Cost</th>

                    <th>Linux</th>
                    <th>RHEL</th>
                    <th>SLES</th>
                    <th>Windows</th>
                    <th>Windows SQL Web</th>
                    <th>Windows SQL Standard</th>
                    <th>Windows SQL Enterprise</th>
                    <th>Linux SQL Web</th>
                    <th>Linux SQL Standard</th>
                    <th>Linux SQL Enterprise</th>
                </tr>
            </thead>
            </table>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#data').DataTable({
                "serverSide": true,
                "scrollX": true,
                "ajax": "/ec2/?format=datatables",
                "columns": [
                    { "data": "name", "defaultContent": "N/A" },
                    { "data": "apiname", "defaultContent": "N/A" },
                    { "data": "memory", "defaultContent": "N/A" },
                    { "data": "computeunits", "defaultContent": "N/A" },
                    { "data": "vcpus", "defaultContent": "N/A" },
                    { "data": "gpus", "defaultContent": "N/A" },
                    { "data": "fpga", "defaultContent": "N/A" },
                    { "data": "ecu_per_vcpu", "defaultContent": "N/A" },
                    { "data": "physical_processor", "defaultContent": "N/A" },
                    { "data": "clock_speed_ghz", "defaultContent": "N/A" },
                    { "data": "intel_avx", "defaultContent": "N/A" },
                    { "data": "intel_avx2", "defaultContent": "N/A" },
                    { "data": "intel_turbo", "defaultContent": "N/A" },
                    { "data": "storage", "defaultContent": "N/A" },
                    { "data": "warmed_up", "defaultContent": "N/A" },
                    { "data": "trim_support", "defaultContent": "N/A" },
                    { "data": "architecture", "defaultContent": "N/A" },
                    { "data": "networkperf", "defaultContent": "N/A" },
                    { "data": "ebs_max_bandwidth", "defaultContent": "N/A" },
                    { "data": "ebs_throughput", "defaultContent": "N/A" },
                    { "data": "ebs_iops", "defaultContent": "N/A" },
                    { "data": "ebs_as_nvme", "defaultContent": "N/A" },
                    { "data": "maxips", "defaultContent": "N/A" },
                    { "data": "maxenis", "defaultContent": "N/A" },
                    { "data": "enhanced_networking", "defaultContent": "N/A" },
                    { "data": "vpc_only", "defaultContent": "N/A" },
                    { "data": "ipv6_support", "defaultContent": "N/A" },
                    { "data": "placement_group_support", "defaultContent": "N/A" },
                    { "data": "linux_virtualization", "defaultContent": "N/A" },
                    { "data": "emr_support", "defaultContent": "N/A" },
                    { "data": "cost_ebs_optimized", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.linux", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.rhel", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.sles", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.mswin", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.mswin_sql_web", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.mswin_sql", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.mswin_sql_enterprise", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.linux_sql_web", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.linux_sql", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.linux_sql_enterprise", "defaultContent": "N/A" },
                    { "data": "on_demand_costs.cost_emr", "defaultContent": "N/A" },
                    { "data": "reserved_costs.linux", "defaultContent": "N/A" },
                    { "data": "reserved_costs.rhel", "defaultContent": "N/A" },
                    { "data": "reserved_costs.sles", "defaultContent": "N/A" },
                    { "data": "reserved_costs.mswin", "defaultContent": "N/A" },
                    { "data": "reserved_costs.mswin_sql_web", "defaultContent": "N/A" },
                    { "data": "reserved_costs.mswin_sql", "defaultContent": "N/A" },
                    { "data": "reserved_costs.mswin_sql_enterprise", "defaultContent": "N/A" },
                    { "data": "reserved_costs.linux_sql_web", "defaultContent": "N/A" },
                    { "data": "reserved_costs.linux_sql", "defaultContent": "N/A" },
                    { "data": "reserved_costs.linux_sql_enterprise", "defaultContent": "N/A" }
                ]
            });
        });
    </script>
</body>
</html>